html,
body {
  accent-color: $color-primary;
  color: $text-color-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  @media (max-width: 980px) {
    font-size: 14px;
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  main {
    flex: 1;
  }
}

//Links

a {
  transition: all 0.2s ease-in-out;
  color: currentColor;
  &:hover {
    color: black;
  }
}
.link-white {
  color: white;
  &:hover {
    color: black;
  }
}

//Fonts

.font-medium {
  font-weight: 500;
  font-family: "Encode Sans Medium";
}
.font-bold {
  font-family: "Encode Sans Bold";
  font-weight: bold;
}
.font-semibold {
  font-family: "Encode Sans SemiBold";
  font-weight: 600;
}

.text-primary {
  color: $color-primary;
}
.bg-primary {
  background-color: $color-primary;
}

svg {
  fill: currentColor;
}

.text-wrap-balance {
  text-wrap: balance;
}

.fade-in {
  animation: fadeIn ease 0.3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
