html,
body {
  accent-color: $color-primary;
  color: $text-color-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 980px) {
    font-size: 13px;
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  main {
    flex: 1;
  }
}

//Links

a {
  transition: all 0.2s ease-in-out;
  color: currentColor;
  &:hover {
    color: black;
  }
}

//Fonts

.text-primary {
  color: $color-primary;
}
.bg-primary {
  background-color: $color-primary;
}
.bg-secondary {
  background-color: $color-secondary;
}
.bg-tertiary {
  background-color: #666;
}

svg {
  fill: currentColor;
  polyline {
    stroke: currentColor;
  }
  line {
    stroke: currentColor;
  }
}

.text-wrap-balance {
  text-wrap: balance;
}

.fade-in {
  animation: fadeIn ease 0.3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

input::placeholder,
textarea::placeholder {
  color: white;
}
