.indicators {
  bottom: 2rem;
  position: absolute;
  width: 100%;
  z-index: 30;
  li {
    margin: 0 0.5rem !important;
    button::before {
      background-color: white !important;
    }
  }
}

#stadistics {
  background-image: url("/images/bg-stadistics.jpg");
}

hr {
  border-color: $color-primary;
}

.px-14 {
  @media (max-width: 980px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.news-gallery {
  height: 70vh;
}
